:root {
  --bodyColor : #373737;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  z-index: 1;
}

body {
  background-color: var(--bodyColor);
}

@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}

/**************** nAVBAR ******************/
.micContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: aqua;
  z-index: 1;
  background-color: var(--bodyColor);
}

.micBtn {
  height: 5vh;
}

.myclass > li > a {
  color: aqua
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.JKS {
  font-family: 'Dancing Script', cursive;
}

.fixedNav {
  z-index: 2;
}

/**************** HOME PAGE ******************/
.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: aqua;
  background-color: var(--bodyColor);
  width: 100%;
  height: 95vh;
  padding: 1rem;
  margin-bottom: 1rem;
}

.homeNotes {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

/**************** SUDOKU PAGE ******************/
.sudokuPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--bodyColor);
  padding: 1rem;
}

.sudokuOverview {
  background-color: var(--bodyColor);
  color: aqua;
  box-shadow: 5px 10px;
}

.movesPos{
  padding: 1rem;
  justify-content: center;
}

.sudokuTile {
  height: 5vh;
  width: 5vh;
  text-align: center;
  font-size: 2rem;
}

.sudokuBoardBtn {
  height: 70vh;
  margin: 0.5rem;
}

.sudokuTableBoard {
  border-collapse: collapse;
  border: 3px solid black;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
}

td {
  padding: 0;
}

.rowBorderColor {
  border-bottom: 2px solid black;
}

.colBorderColor {
  border-right: 2px solid black;
}

.btnContainer {
  display: flex;
  width: 100vw;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

/**************** STOCKS PAGE ******************/
.stocksOverview{
  background-color: var(--bodyColor);
  color: aqua;
  box-shadow: 5px 10px;
}

.searchBar{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 80vw;
}

.chartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.watchListTable {
  margin-left:auto;
  margin-right:auto;
  width:100vw;
  overflow:scroll;
  overflow: hidden;
}

/**************** STOCKS CHART PAGE ******************/
.chartPage {
  margin-bottom: 5vh;
  padding: 0.5rem;
}

.chartPagePosition{
  display: flex;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartSelectButton{
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
}

/**************** NEWS PAGE ******************/
.newsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.newsSubject {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.newsOverview{
  background-color: var(--bodyColor);
  color: aqua;
  box-shadow: 5px 10px;
}

.cardSource{
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  flex-direction: column;
  padding: 2px;
  height: 20vh;
  overflow:hidden;
}

.introPageTile{
  margin: 3rem;
}

.introPageContainer {
  padding: 0 5%;
  width: 100%;
  margin: 0;
}

.introCard {
  display: flex;
  flex: column;
  text-align: center;
}

.introCardContext{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  padding: 10%;
  border-radius: 2%;
  color: aqua;
  background-color: #373737;
  box-shadow: 10px 10px lightblue;
}

.weatherImages{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

/**************** ROBOT PAGE ******************/
.robotPageContainer {
  background-color: var(--bodyColor);
  color: white;
  margin-bottom: 2rem;
}

.robotPageContent {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/**************** ABOUT PAGE ******************/
.aboutPageContainer{
  background-color: var(--bodyColor);
  color: white;
  margin-bottom: 2rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
}

.aboutPage {
  background-color: var(--bodyColor);
  height: 95vh;
}

/**************** CONTACT PAGE ******************/
.contactPageContainer{
  display: flex;
  background-color: var(--bodyColor);
  color: white;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


